.places {
  margin: 92px 100px 0 100px;
  padding: 0;
  min-width: calc(100% - 148px * 2);
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .places  {
    min-width: calc(100% - 48px * 2);
    margin: 92px 48px 0 48px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .places  {
    min-width: calc(100% - 24px * 2);
    margin: 88px 24px 0 24px;
  }
}

@media screen and (min-width: 319px) and (max-width: 767px) {
  .places {
    margin: 64px 0 0 0;
  }
}
