.header {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  align-self: center;
}

@media screen and (min-width: 1281px) {
  .header {
    min-width: 1184px;
    margin: 28px 0 0 0;
  }
}

@media screen and (min-width: 1023px) {
  .header {
    min-width: calc(100% - 48px * 2);
    margin: 28px 48px 0 48px;
  }
}

@media screen and (min-width: 767px) {
  .header {
    min-width: calc(100% - 24px * 2);
    margin: 28px 24px 0 24px;
  }
}

@media screen and (min-width: 319px) {
  .header {
    min-width: calc(100% - 16px * 2);
    margin: 16px 16px 0 16px;
    height: 42px;
  }
}
