.lead__image_position_front {
  width: 95%;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -87%);
}

@media screen and (max-width: 320px) {
  .lead__image_position_front  {
    transform: translate(-50%, -95%);
  }
}
