.lead__image {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: -1;
}

.lead__image::before {
  content: '';
  width: 95%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(2%, 14%);
  background-image: url(../../../images/Group-4.svg);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}
